{extend name="base/base"}
{block name="css"}
    <link href="__HOME_STYLE__/css/link.css" rel="stylesheet">
{/block}
{block name="js"}
{/block}
{block name="content"}
<div class="template">
  <div class="box">
    <h3>
      <p><span>网站</span>导航</p>
    </h3>
    <ul>
      <li><a href="http://www.github.com"  target="_blank"><img src="__HOME_STYLE__/images/01.jpg"></a><span>GitHub</span></li>
      <li><a href="/" target="_blank"><img src="__HOME_STYLE__/images/02.jpg"></a><span></span></li>
      <li><a href="/"  target="_blank"><img src="__HOME_STYLE__/images/03.jpg"></a><span></span></li>
      <li><a href="/" target="_blank"><img src="__HOME_STYLE__/images/04.jpg"></a><span></span></li>
      <li><a href="/"  target="_blank"><img src="__HOME_STYLE__/images/02.jpg"></a><span></span></li>
      <li><a href="/"  target="_blank"><img src="__HOME_STYLE__/images/03.jpg"></a><span></span></li>
    </ul>
  </div>
</div>
<article>
  <h2 class="title_tj">
    <p>导航<span>推荐</span></p>
  </h2>
  <div class="left">
    <div class="recommend">
    {foreach $list.recommend_link as $val}
    <div class="link_recommend"><a href="{:url('click_num')}?url={$val.link_url}&id={$val.link_id}" target="_blank"><p>{$val.link_title}</p></a></div>
    {/foreach}
    </div>
    <h2 class="title_tj">
    <p>分类<span>展示</span></p>
  </h2>
  {foreach $list.class_link_info as $val}
    <div class="class_list">
        <div class="class_name"><p>{$val.class_title}</p></div>
        {foreach $val.link_info as $v}
        <div class="link_recommend"><a href="{:url('click_num')}?url={$v.link_url}&id={$v.link_id}" target="_blank"><p>{$v.link_title}</p></a></div>
        {/foreach}
    </div>
    {/foreach}
  </div>

<!--==============================右边栏目================================-->
  <aside class="right">
     <div class="news">
    <h3>
      <p>点击<span>排行</span></p>
    </h3>
    <ul class="rank">
    {foreach $list.right_list.blog_clicknum as $val}
      <li><a href="{:url('content/index')}?id={$val.bloginfo_id}" target="_blank">{$val.bloginfo_title}({$val.bloginfo_click})</a></li>
    {/foreach}
    </ul>
    <h3 class="ph">
      <p>最新<span>发布</span></p>
    </h3>
    <ul class="paih">
    {foreach $list.right_list.blog_latest_publish as $val}
      <li><a href="{:url('content/index')}?id={$val.bloginfo_id}" target="_blank">{$val.bloginfo_title}</a></li>
    {/foreach}
    </ul>
    </div>
    <div class="cloud">
      <h3>导航</h3>
      <ul>
      {foreach $list.right_list.link_clicknum as $val}
        <li><a href="{:url('link/click_num')}?url={$val.link_url}&id={$val.link_id}">{$val.link_title}</a></li>
      {/foreach}
      </ul>
    </div>
    <div class="visitors">
      <h3><p>访问量</p></h3>
      <ul>

      </ul>
    </div>
     <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
    <!-- Baidu Button END -->
</aside>
{/block}