.tags
.tags_sorted_by_file
runtime/log/*
runtime/temp/*
application/database.php
application/config.php
application/admin/config.php
application/index/config.php
application/tuoling/config.php
public/uploads/