{extend name="base/base"}
{block name="css"}
    <link href="__HOME_STYLE__/css/msh.css" rel="stylesheet">
    <link href="__HOME_STYLE__/css/about.css" rel="stylesheet">
{/block}
{block name="content"}
<article>
  <div class="container">
    <h2 class="ctitle"><b>开发中</b> <span>敬请等待,此模块正在开发中,暂未上线运营</span></h2>
    <div class="banner">
        <p data-scroll-reveal="enter top over 2s">
            <h2>正在开发中……</h2>
        </p>
        <p data-scroll-reveal="enter bottom over 2s after 2s">
              敬请等待,此模块正在开发中,暂未上线运营
        </p>
    </div>
  </div>
  </aside>
</article>
{/block}