{extend name="base/base"}
{block name="css"}
    <link href="__HOME_STYLE__/css/learn.css" rel="stylesheet">
    <link href="__HOME_STYLE__/css/about.css" rel="stylesheet">
{/block}
{block name="content"}
<article>
  <div class="container">
        <div class="banner">
        <h3>
      <p data-scroll-reveal="enter top over 2s">东临碣石，以观沧海。
水何澹澹，山岛竦峙。</p>
      <p data-scroll-reveal="enter left over 2s after 1s">树木丛生，百草丰茂。
秋风萧瑟，洪波涌起。</p>
      <p data-scroll-reveal="enter bottom over 2s after 2s">日月之行，若出其中；
星汉灿烂，若出其里。幸甚至哉，歌以咏志。</p></h3>
    </div>
    <div class="memorial_day">
      <div class="time_axis"></div>
      <ul>
        <li class="n1"><a href="/">目标</a>
          <div class="dateview">可行性</div>
        </li>
        <li class="n2"><a href="/">计划</a>
          <div class="dateview">可实性</div>
        </li>
        <li class="n3"><a href="/">执行</a>
          <div class="dateview">休息</div>
        </li>
        <li class="n4"><a href="/">再执行</a>
          <div class="dateview">等待</div>
        </li>
        <li class="n5"><a href="/">完成</a>
          <div class="dateview">庆祝</div>
        </li>
      </ul>
    </div>
    </div>
        <div class="about left">
<div class="about left">
        <h2>About me</h2>
        <ul>
<p>
    &nbsp; &nbsp; &nbsp;NiuShao，男，一个撸代码的材料工科狗！从15年毕业做电商相关开始算是入行互联网了。不要问我为什么背叛离不开国计民生的材料类，因为我真的没见过点阵，原子排列在脑袋里成像已经够让人头疼了，成像后你告诉我还有晶体缺陷，点缺陷，面缺陷。想来想去想的我脑袋都快缺陷了…………。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;说起这个撸代码，其实还是有缘分的。第一次接触编程，是大一必修C++。想我这种来自西北小镇的人，大学之前接触的电脑知识，无非就是红色警戒怎么造核电站，罪恶都市怎么作弊坦克，反恐精英怎么买枪……。可想而知C++从第一节课开始听天书听到了最后一节。课可以听不懂，但考试不能挂啊。当时赶着同学突击的队伍夜以继日的cout,cout,cout。一周翻完了两遍书，抄完了一本笔记本。这样就认识编程了。这件事也是我这种学渣在大学自豪的一件事之一。毕竟一学期都没学懂得东西，一星期两遍书看完就懂了，是不是很geek，让我狠狠的自恋一把。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实，作为有情怀的geek，从一开始就希望是有自己的Blog，第一年非计算机入行，平时上班学习比较累，没有时间就搁置了。第二年换了工作各种项目各种忙，对知识的归纳和工作的总结，只能暂时性的放在<a href="http://blog.csdn.net/siukong_ngau" target="_blank">CSDN博客</a>上了。在17年最后一个月的时候，项目做的差不多了，有点空闲时间就开始实现两年前的心愿了，由于半个月之内想上线，时间比较紧，直接下载了前端模板随便修修改改，然后自己开发了后台基本模块，刚好在2018年元旦上线了。项目名称“敦煌的驼铃”，就算是刚上线的第一版吧，后期的精细化是必须要做的。待我慢慢升级。
</p>
<p>
    &nbsp; &nbsp; &nbsp; &nbsp;本项目为啥叫敦煌的驼铃呢，去过敦煌的都应该感受到曾经的繁华被黄沙封存了几千年的厚重吧，没错，站长希望自己做人和自己做过的事都像黄沙那样厚重，都像骆驼一样，安安静静，吃苦耐劳，坚韧不拔。
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后就介绍介绍站长吧，哈哈，所谓站长，就是我了，喜欢独处，平时最享受的就是节假日和下班时间一个人在家听音乐看书的感觉了，爽的不要不要的。喜欢独行，独行独行，独和行自然是必不可少了。一个人去过中俄边境北极村，也从乌鲁木齐一路南下江苏，湖北，广东。如果要用一首诗描述站长的这二十多年，那就是生在西北黄土坡，读在龙江黑土地，闯在南国珠三角，梦在IT终Geek。耶！！！&nbsp;&nbsp;
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
        </ul>
        <h2>About my blog</h2>
        <p>域  名：www.niushao.net/www.niushao.me  创建于2018年01月01日 </p>
        <p>服务器：阿里云服务器/Linode服务器</p>
        <p>环  境: LAMP</p>
        <p>前端:模版下载<a href="http://www.yangqq.com">www.yangqq.com</a></p>
        <p>后端:ThinkPHP5.0独立开发</p>
    </div>
  </div>
  </aside>
</article>
{/block}