{extend name="base/base"}
{block name="css"}
    <link href="__HOME_STYLE__/css/about.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href="__HOME_STYLE__/css/index.css" rel="stylesheet">
{/block}
{block name="js"}
{/block}
{block name="content"}
<article class="aboutcon">
<h1 class="t_nav"><span>博客详情</span><a href="/" class="n1">博客展示</a><a href="/" class="n2">博客</a></h1>
<div class="about left">
    <h2>{$bloginfo_content_list.bloginfo_title}</h2>
    <ul> 
        {$bloginfo_content_list.blogcontent_ctt}
    </ul>
    <h2>Comment</h2>
    <!--
    <p>Óò  Ãû£ºwww.yangqq.com ´´½¨ÓÚ2011Äê01ÔÂ12ÈÕ <a href="/" class="blog_link" target="_blank">×¢²áÓòÃû</a></p>
    <p>·þÎñÆ÷£º°¢ÀïÔÆ·þÎñÆ÷<a href="/" class="blog_link" target="_blank">¹ºÂò¿Õ¼ä</a></p>
    <p>±¸°¸ºÅ£ºÊñICP±¸11002373ºÅ-1</p>
    <p>³Ì  Ðò£ºPHP µÛ¹úCMS7.0</p>
    -->
</div>
<aside class="right">  
    <div class="about_c">
    <p>博客名: <span>{$bloginfo_content_list.bloginfo_title}</span></p>
    <p>所属分类: <span>{$bloginfo_content_list.class_title}</span></p>
    <p>发布日期:{$bloginfo_content_list.bloginfo_createtime}</p>
    <p>浏览量<span>{$bloginfo_content_list.bloginfo_click}</span></p>
    <p>顶<span>{$bloginfo_content_list.bloginfo_like}</span></p>
    <p>踩<span>{$bloginfo_content_list.bloginfo_hate}</span></p>
    </div>   
    <div class="news">
    <h3>
      <p>点击<span>排行</span></p>
    </h3>
    <ul class="rank">
    {foreach $blog_click_list as $val}
      <li><a href="{:url('content/index')}?id={$val.bloginfo_id}" target="_blank">{$val.bloginfo_title}({$val.bloginfo_click})</a></li>
    {/foreach}
    </ul>
    <h3 class="ph">
      <p>最新<span>发布</span></p>
    </h3>
    <ul class="paih">
    {foreach $blog_new_list as $val}
      <li><a href="{:url('content/index')}?id={$val.bloginfo_id}" target="_blank">{$val.bloginfo_title}</a></li>
    {/foreach}
    </ul>
    <h3 class="links">
      <p>常用<span>链接</span></p>
    </h3>
    <ul class="website">
      <li><a href="http://www.github.com" target="_blank">GITHUB</a></li>
      <li><a href="http://www.linode.com" target="_blank">Linode</a></li>
      <li><a href="http://www.aliyun.com" target="_blank">阿里云</a></li>
      <li><a href="http://www.baiduc.com" target="_blank">百度</a></li>
    </ul> 
    </div>  
    <div class="cloud">
      <h3>标签</h3>
      <ul>
      {foreach $link_often_list as $val}
        <li><a href="{$val.link_url}">{$val.link_title}</a></li>
      {/foreach}
      </ul>
    </div>  
</aside>
</article>
{/block}