<!DOCTYPE html>
<html>
<head>
  <title>Download</title>
</head>
<body>
    <h1 align='center' >Download Center</h1>
    <h3 align='center' >(资源按照SourceName首字母排序)</h3>
    <table align='center' border=0 cellpadding="1" cellspacing="1">
      <tr>
        <th>资源名称</th>
        <th>sourceName</th>
        <th>下载链接(Click Download)</th>
      </tr>
            <tr>
        <td><i style="color:red">Composer(PHP包管理工具)</i></td>
        <td><i style="color:red">Composer_win64.exe</i></td>
        <td><a href="http://source.niushao.net/Composer_win64.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">Ctags(sublime方法追踪)</i></td>
        <td><i style="color:red">ctags58.zip</i></td>
        <td><a href="http://source.niushao.net/ctags58.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">FiddlerSetup.exe</i></td>
        <td><a href="http://source.niushao.net/FiddlerSetup.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Firefox-latest.exe</i></td>
        <td><a href="http://source.niushao.net/Firefox-latest.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">Git-win64</i></td>
        <td><i style="color:red">Git-2.20.1-64-bit.exe</i></td>
        <td><a href="http://source.niushao.net/Git-2.20.1-64-bit.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">jdk-11.0.2_windows-x64_bin.exe</i></td>
        <td><a href="http://source.niushao.net/jdk-11.0.2_windows-x64_bin.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">蓝灯(安卓版)</i></td>
        <td><i style="color:red">lantern-installer.apk</i></td>
        <td><a href="http://source.niushao.net/lantern-installer.apk">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Markdown.zip</i></td>
        <td><a href="http://source.niushao.net/Markdown.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">navicat.zip</i></td>
        <td><a href="http://source.niushao.net/navicat.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">PhpStorm.2018.1.6.zip</i></td>
        <td><a href="http://source.niushao.net/PhpStorm.2018.1.6.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">Sublime3-win64</i></td>
        <td><i style="color:red">sublime3.exe</i></td>
        <td><a href="http://source.niushao.net/sublime3.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Sublime3.zip</i></td>
        <td><a href="http://source.niushao.net/Sublime3.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">SwitchHosts.zip</i></td>
        <td><a href="http://source.niushao.net/SwitchHosts.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">WinSCP-5.13.8-Setup.exe</i></td>
        <td><a href="http://source.niushao.net/WinSCP-5.13.8-Setup.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">Xshell(家庭免费)</i></td>
        <td><i style="color:red">Xshell.exe</i></td>
        <td><a href="http://source.niushao.net/Xshell.exe">点击下载(click Download)</a></td>
      </tr>
          </table>
</body>
</html>