<!DOCTYPE html>
<html>
<head>
  <title>Download</title>
</head>
<body>
    <h1 align='center' >Download Center</h1>
    <h3 align='center' >(资源按照SourceName首字母排序)</h3>
    <table align='center' border=0 cellpadding="1" cellspacing="1">
      <tr>
        <th>资源名称</th>
        <th>sourceName</th>
        <th>下载链接(Click Download)</th>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">72.0.3626.119_chrome_installer-1.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/72.0.3626.119_chrome_installer-1.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">cloudmusicsetup_2.5.2.197037.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/cloudmusicsetup_2.5.2.197037.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Composer_win64.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/Composer_win64.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">ctags58.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/sublime/ctags58.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Firefox-setup-win64-65-65.0.2.6995.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/Firefox-setup-win64-65-65.0.2.6995.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Git-2.20.1-64-bit.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/Git-2.20.1-64-bit.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">haozip_v5.9.8.10920.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/haozip_v5.9.8.10920.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">IQIYIsetup_txtw-6.7.82.6548.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/IQIYIsetup_txtw-6.7.82.6548.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">lantern-installer.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/lantern-installer.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">mongodb-win32-x86_64-2008plus-ssl-4.0.6.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/mongodb-win32-x86_64-2008plus-ssl-4.0.6.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">nginx-1.14.2.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/nginx-1.14.2.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">OneDriveSetup.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/OneDriveSetup.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">php-7.3.2-Win32-VC15-x64.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/php-7.3.2-Win32-VC15-x64.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">QQ9.0.9.24445.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/QQ9.0.9.24445.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Redis-x64-3.2.100.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/Redis-x64-3.2.100.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">RunHiddenConsole.zip</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/lnmp/RunHiddenConsole.zip">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">sublime3.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/sublime/sublime3.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">wampserver3.1.7_x64.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/wamp/wampserver3.1.7_x64.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">WeChatSetup-2.6.7.40.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/WeChatSetup-2.6.7.40.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">WinSCP-5.13.8-Setup.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/WinSCP-5.13.8-Setup.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">Xshell.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/Xshell.exe">点击下载(click Download)</a></td>
      </tr>
            <tr>
        <td><i style="color:red">--</i></td>
        <td><i style="color:red">YNote.exe</i></td>
        <td><a href="http://localhost:8080/DH_TuoLing/DownloadCenter/resource/YNote.exe">点击下载(click Download)</a></td>
      </tr>
          </table>
</body>
</html>